{
    "parserOptions": {
        "plugins": ["node"]
    },
    "extends": ["plugin:node/recommended"],
    "env": {
        "node": true
    },
    "rules": {
        "no-sync": "off",
        "node/no-unpublished-require": "off"
    }
}
