{
    "parser": "@typescript-eslint/parser",
    "root": true,
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "plugins": ["import", "@typescript-eslint"]
    },
    "env": { "es6": true, "node": true, "jest": true },
    "extends": [
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "quotes": ["error", "single", { "avoidEscape": true }],
        "semi": "error",
        "no-console": "warn",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-extra-semi": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-unreachable": "warn",
        "no-unsafe-finally": "warn",
        "use-isnan": "error",
        "valid-typeof": "error",
        "curly": "error",
        "dot-notation": "error",
        "eqeqeq": "warn",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-fallthrough": "warn",
        "no-global-assign": "error",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-invalid-this": "error",
        "no-redeclare": "error",
        "no-return-assign": "error",
        "no-return-await": "error",
        "no-script-url": "error",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "warn",
        "no-unused-expressions": "warn",
        "no-unused-labels": "error",
        "no-useless-call": "error",
        "no-useless-catch": "error",
        "no-useless-concat": "warn",
        "no-useless-escape": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "no-with": "error",
        "radix": "error",
        "require-await": "error",
        "require-unicode-regexp": "error",
        "vars-on-top": "error",
        "strict": ["error", "global"],
        "init-declarations": "error",
        "no-label-var": "error",
        "no-shadow": "warn",
        "no-shadow-restricted-names": "error",
        "no-undef": "error",
        "no-buffer-constructor": "error",
        "no-path-concat": "error",
        "no-sync": "warn",
        "eol-last": "error",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-duplicate-imports": "error",
        "no-var": "error",
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "import/no-unresolved": "error",
        "import/named": "error",
        "import/default": "error",
        "import/no-absolute-path": "error",
        "import/no-self-import": "error",
        "import/no-cycle": "error",
        "import/no-useless-path-segments": "error",
        "import/no-unused-modules": "error",
        "import/export": "error",
        "import/no-deprecated": "error",
        "import/no-amd": "error",
        "import/first": "error",
        "import/no-duplicates": "error",
        "import/no-namespace": "error",
        "import/extensions": "error",
        "import/newline-after-import": "error",
        "import/no-unassigned-import": "error",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "argsIgnorePattern": "^_" }
        ]
    }
}
